<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="./index.html">Gameday Ballers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-right ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/players">Players</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teams">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coaches">Coaches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pre-nba">Pre-NBA</a>
          </li>
          <li class="nav-item">
            <b><a class="nav-link" href="#">About</a></b>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="img-container col-sm-6">
              <img src="http://www.fbschool.org/_assets/images/basketball.jpg">
            </div>
            <div class="info col-sm-6">
              <ul>
                <li>
                  Name and Number
                </li>
                <li>
                  <a>Team</a>
                </li>
                <li>
                  Position
                </li>
                <li>
                  Born
                </li>
                <li>
                  Height
                </li>
                <li>
                  Weight
                </li>
                <li>
                  Country of Origin
                </li>
                <li>
                  From (College/International)
                </li>
              </ul>
            </div>
          </div>

          <div class="table-wrapper">
            <h4>Career Stats</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>MPG</th>
                  <th>FG%</th>
                  <th>3P%</th>
                  <th>FT%</th>
                  <th>PPG</th>
                  <th>RPG</th>
                  <th>APG</th>
                  <th>BPG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Data</td>
                  <td>Data</td>
                  <td>Data</td>
                  <td>Data</td>
                  <td>Data</td>
                  <td>Data</td>
                  <td>Data</td>
                  <td>Data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-head">
              <h5>Past Teams</h5>
            </div>
            <ul class="card-list">
              <li>
                Past team
              </li>
              <li>
                Past team
              </li>
              <li>
                Past team
              </li>
            </ul>
          </div>
          <div class="card">
            <div class="card-head">
              <h5>Recognitions</h5>
            </div>
            <ul class="card-list">
              <li>
                Award
              </li>
              <li>
                Award
              </li>
              <li>
                Award
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
