<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./index.html">Gameday Ballers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/players">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coaches">Coaches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pre-nba">Pre-NBA</a>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="#">About</a></b>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="img-container col-sm-6">
            <img src="http://www.fbschool.org/_assets/images/basketball.jpg">
          </div>
          <div class="info col-sm-6">
            <ul>
              <li>
                Name
              </li>
              <li>
                City, State/Country
              </li>
            </ul>
          </div>
        </div>

        <div class="">
          Mascot
        </div>

        <div class="roster-wrapper">
          <div class="roster">
            Players
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-head">
            <h5>Titles</h5>
          </div>
          <ul class="card-list">
            <li>
              Title
            </li>
            <li>
              Title
            </li>
            <li>
              Title
            </li>
          </ul>
        </div>
        <div class="tweets-container">
          <a class="twitter-timeline"
             href="https://twitter.com/search?q=from%3ANBA%2C%20OR%20from%3AESPNNBA%2C%20OR%20from%3Awojespn%2C%20OR%20from%3Ashamscharania%2C%20OR%20from%3ATheVertical%2C%20OR%20from%3AESPNSteinLine%2C%20OR%20from%3ABillSimmons%2C%20OR%20from%3AZachLowe_NBA"
             data-widget-id="912534238083321859">Tweets about from:NBA, OR from:ESPNNBA, OR from:wojespn, OR from:shamscharania, OR from:TheVertical, OR from:ESPNSteinLine, OR from:BillSimmons, OR from:ZachLowe_NBA</a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
